@model Product

<h3> @Model.Name </h3>
<p> @Model.Description </p>
<h4> @Model.Price.ToString("c") </h4>
<h4> Category: @Model.Category </h4>

<a asp-controller="Home" asp-action="Update" asp-route-id="@Model.ProductId">
    Edit
</a>

<a asp-action="Index">
    Back
</a>