@model IQueryable<Product>

<h4>Welcome To SportsStore</h4>

<a asp-action="Add"> Add New Product </a>

<hr />

@foreach (Product p in Model)
{
    <h3>@p.Name</h3>
    @p.Description
    <h4>@p.Price.ToString("C")</h4>
    <a asp-controller="Home" asp-action="Details" asp-route-id="@p.ProductId">Details</a>
    <hr />
}

@for(int i = 1; i <+ ViewBag.ProductCount / 3; i++)
{
    <a asp-action="Index" asp-route-productPage="@i" >Page @i </a>
    @:&nbsp;  |  &nbsp;
}