@model ProductListViewModel

<h4>Welcome To SportsStore</h4>

<a asp-action="Add"> Add New Product </a>

<hr />

@foreach (Product p in Model.Products)
{
    <h3>@p.Name</h3>
    @p.Description
    <h4>@p.Price.ToString("C")</h4>
    <a asp-controller="Home" asp-action="Details" asp-route-id="@p.ProductId">Details</a>
    <hr />
}

@for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
{
    <a asp-route-productPage="@i"> @i </a>
}


<h5>
    Page @ViewBag.Paging.CurrentPage
    of   @ViewBag.Paging.TotalPages();
</h5>